<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.connectbot.lib"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.VIBRATE" />

	<application android:allowBackup="true">
		<activity
			android:name=".HostListActivity"
			android:launchMode="singleTop"
			android:resizeableActivity="true"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.CREATE_SHORTCUT"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.PICK"/>
				<category android:name="android.intent.category.DEFAULT"/>

				<data android:scheme="ssh"/>
				<data android:scheme="telnet"/>
				<data android:scheme="local"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".PubkeyListActivity"
			android:configChanges="keyboardHidden|orientation"
			android:label="@string/title_pubkey_list">

			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".HostListActivity"/>
		</activity>

		<activity
			android:name=".GeneratePubkeyActivity"
			android:configChanges="keyboardHidden|orientation"
			android:label="@string/title_pubkey_generate">

			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".PubkeyListActivity"/>
		</activity>

		<activity
			android:name=".EditHostActivity"
			android:label="@string/title_host_editor">

			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".HostListActivity"/>
		</activity>

		<activity
			android:name=".PortForwardListActivity"
			android:configChanges="keyboardHidden|orientation"
			android:label="@string/title_port_forwards_list">

			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".HostListActivity"/>
		</activity>

		<activity
			android:name=".SettingsActivity"
			android:configChanges="keyboardHidden|orientation"
			android:label="@string/title_settings">

			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".HostListActivity"/>
		</activity>

		<activity
			android:name=".HelpActivity"
			android:configChanges="keyboardHidden|orientation"
			android:label="@string/title_help">

			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".HostListActivity"/>
		</activity>

		<activity
			android:name=".ColorsActivity"
			android:configChanges="keyboardHidden|orientation"
			android:label="@string/title_colors">

			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".HostListActivity"/>
		</activity>

		<activity
			android:name=".EulaActivity"
			android:configChanges="keyboardHidden|orientation"
			android:label="@string/terms_and_conditions">

			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".HelpActivity"/>
		</activity>

		<activity
			android:name=".HintsActivity"
			android:label="@string/hints">

			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".HelpActivity"/>
		</activity>

		<service
			android:name="org.connectbot.service.TerminalManager"
			android:configChanges="keyboardHidden|orientation"
			android:description="@string/service_desc"/>

		<activity
			android:name=".ConsoleActivity"
			android:configChanges="keyboardHidden|orientation"
			android:launchMode="singleTop"
			android:theme="@style/Theme.AppCompat"
			android:windowSoftInputMode="stateAlwaysVisible|adjustResize"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>

				<data android:scheme="ssh"/>
				<data android:scheme="telnet"/>
				<data android:scheme="local"/>
				<!-- format:  ssh://user@host:port/#nickname  -->
				<!-- format:  telnet://host:port/#nickname  -->
				<!-- format:  local://  -->
			</intent-filter>
		</activity>

	</application>
</manifest>
